body {
  font-family: arial, sans-serif;
}

.contain {
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Viewport width */
  height: 100vh; /* Viewport height */
  display: grid;
  overflow: auto;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 1fr);
  border: 1px solid #dadde1;
  padding: auto 100px;
  margin: 0; /* Remove margin */
  border-radius: 0; /* Remove border-radius */
  background: radial-gradient(
    859px at 10% 20%,
    rgb(245, 220, 154) 0%,
    rgb(164, 78, 51) 90%
  );
}


.h3 {
  grid-area: 1 / 1 / 1 / 1;
  border: 1px solid black;
  background: #d0baa8;
  margin-left: 10px;
}

.button-place {
  grid-area: 2 / 1 / 2 / 1;
}

.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 40px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
  padding: 20px 40px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 50px) {
  .button-74 {
    min-width: 50px;
    padding: 0 15x;
  }
}

.description {
  grid-area: 1 / 3 / 1 / 6;
  padding: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background: #ddb27b;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 10px;
}

.content {
  grid-area: 2 / 2 / 8 / 7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background: #ddb27b;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 20px;
}

/* CSS for the table */
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}


table th {
  background-color: burlywood;
}
 tr:hover {
      background-color: #f0f0f0;
      cursor: pointer;
    }
/* Scrollable Container */
#tableContainer {
  max-height: 500px; /* Set a fixed max height to enable scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
}

#tableContainer {
  max-height: 500px; /* Set a fixed max height to enable scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
  margin: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.constraint {
  grid-area: 1 / 7 / 8 / 9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background: #ddb27b;
  margin-right: 5px;
  margin-bottom: 80px;
  margin-top: 70px;
  margin-left: 30px;
  margin-right: 10px;
  overflow-y: auto;
}

/* 2 handler range slider */


    
    .range-slider {
      position: relative;
      width: 170px;
      height: 30px;
      background-color: #f5e1da;
      border-radius: 15px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      margin: 20px;
      margin-right: 30px;
      

    }

    input[type="range"] {
      -webkit-appearance: none;
       -moz-appearance: none;
      appearance: none;
      width: 100%;
      height: 5px;
      background: #c5986a;
      outline: none;
      position: absolute;
      border-radius: 10px;
      margin: auto;
      top: 0;
      bottom: 0;
      padding: 0;
      pointer-events: none;
    
    }
    .slider-track{
      width: 100%;
      height: 5px;
      position:absolute;
      margin: auto;
      top:0;
      bottom: 0;
      border-radius: 50%;
    }

    input[type="range"] ::-webkit-slider-runnable-track{
      -webkit-appearance: none;
      height: 5px;
      background: #c5986a;
    }
    input[type="range"] ::-moz-range-track{
  -moz-appearance: none;
  height: 5px;
    }
    input[type="range"] ::-ms-track{
      appearance: none;
      height: 5px;

    }

    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 1em;
      height: 1em;
      background-color: #c5986a;
      border-radius: 5px;
      cursor: pointer;
      pointer-events: auto;
      margin-top: -9px;
    }

    input[type="range"]::-moz-range-thumb {
      width: 1em;
      height: 1em;
      background: #c5986a;
      border-radius: 50%;
      cursor: pointer;
      pointer-events: auto;
    }
    input[type="range"] ::-ms-thumb{
      appearance: none;
      width: 1em;
     height: 1em;
     cursor: pointer;
     border-radius: 50%;
     background: #c5986a;
     pointer-events: auto;
    }
    input[type="range"] :after ::-webkit-slider-thumb{
      background-color: #422800;
      border: 3px solid #c5986a;

    }

    .output {
      position: absolute;
      top: -30px;
      font-size: 15px;
      color: #422800;
      border:3px solid #3E2723;
      border-radius: 5px;
      padding-left: 2px;
      padding-right: 2px;
      font-weight: 500;
      overflow: auto;
    }
    .output :before{
      content:"";
    
    }

 
/*toggle list */

.toggle-list {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toggle-list h5 {
  margin: 0; /* Remove default margin to avoid space around h5 */
}
.toggle-symbol {
  margin-right: 5px; /* Add space between symbol and h5 */
}

.toggle-list.active .toggle-symbol::after {
  content: "▾";
}

.toggle-list:not(.active) .toggle-symbol::before {
  content: "▸";
}




.toggle-items {
  display: none;
  list-style: none;
  padding-left: 20px;
  margin-top: 10px;
}

.toggle-list.active .toggle-items {
  display: block;
}
.checkbox-list {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}
.checkbox-list li {
  margin-bottom: 10px;
}

.checkbox-list input[type="checkbox"] {
  display: none;
}

.checkbox-list label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.checkbox-list label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 3px;
}

.checkbox-list input[type="checkbox"]:checked + label:before {
  background-color: #422800;
  border-color: #422800;
}

.checkbox-list label:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 8px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}

.checkbox-list input[type="checkbox"]:checked + label:after {
  display: block;
}



.history-panel {
    grid-area: 3 / 1 / 7 / 1;
    color: gray;
    background: #ddb27b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
     margin-top: 10px;
      height: 300px; /* Adjust the height as needed */
  overflow-y: auto;
}
.time {
    grid-area: 7 / 1 / 7 / 1 ;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
     background: #ddb27b;
     margin-top: 45px;
     font-size: 15px;
     font-weight: bold;
     padding-right: 60px;
     text-align: left;
}
.time-box {
  display: inline-block;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}

#paginationContainer {
    grid-area: 7/ 2 / 7 / 7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
     background: #ddb27b;
     margin-top: 30px;
     margin-left: 10px;
     margin-bottom: 10px;
}

/*select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0!important;
  background: #3E2723; /* Brown background color */
  background-image: none;
  flex: 1;
  padding: 0 .3em; /* Smaller padding */
  color: #fff;
  cursor: pointer;
  font-size: 0.9em; /* Slightly smaller font size */
  font-family: 'Open Sans', sans-serif;

}

select::-ms-expand {
  display: none;
}

.select {
  position: fixed;
  display: flex;
  width: 14em; /* Smaller width */
  height: 2.5em; /* Smaller height */
  line-height: 2.5;
  background: #3E2723; /* Brown background color */
  overflow: hidden;
  right: 400px;
   transform: translateY(-10%);
  border-radius: .2em; /* Smaller border radius */
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.8em; /* Smaller padding */
  background: #2B2E2E;
  cursor: pointer;
  pointer-events: none;
  transition: .25s all ease;
}

.select:hover::after {
  color: #8D6E63; /* Brown hover color */
}


#paginationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.page-link {
  cursor: pointer;
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#rowsPerPage {
  margin-left: 10px;
}



#paginationContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.pagination-controls {
  display: flex;
  align-items: center;
  overflow-y:auto;
}

.pagination-links {
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  
}

.page-link {
  cursor: pointer;
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #8b4513; /* Brown color */
  border-radius: 5px;
  background-color: #d2b48c; /* Light brown background */
  color: #8b4513; /* Brown text color */
}

#prevPage,
#nextPage {
  background-color: #8b4513;
  color: #fff;
}

#rowsPerPage {
  margin-left: 10px;
}
